{% extends "base.html" %}

{% block content %}
<div class="alert alert-dark" role="alert">
    <h2>NovОсти</h2>
    <p>NovОсти - это новостной портал, который позволяет вам оставаться в курсе последних событий.
        Все новости создаются и оцениваются пользователями.</p>


    <p>NovОсти все еще разрабатываются, поэтому вы можете перейти по ссылке ниже и написать
    автору, на сколько он криворукий, и как это исправить.</p>
    <a href="https://vk.com/egor.nov2003">Автор Проекта</a>
</div>
{% endblock %}